<footer class="footer">
    <div class="container">
        <section class="map">
            <div class="container ">
                <div class="row">
                    <article class="info col-12 col-sm-12	col-md-6 col-lg-4 col-xl-4">
                        <h3>ENTRER EN CONTACT</h3>
                        <p>MJNsquad,<br>
                            105 rue Saint Sébastien,<br>
                            78300 Poissy,<br>
                            makanfainke78@gmail.com,<br>
                            www.mjnsquad.fr</p>
                    </article>
                    <article class="info col-12 col-sm-12	col-md-6 col-lg-4 col-xl-4">
                        <h3>TWITTER</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet unde quasi eaque ab incidunt sapiente similique nobis laudantium enim itaque, iste commodi, possimus temporibus culpa, perspiciatis dolore alias id nisi.</p>
                    </article>
                    <article class="info col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <h3>FOLLOW US</h3>
                        <ul class="list--inline social-icons text-left">

                            <li>
                                <a href="https://www.facebook.com" title="Facebook" target="_blank">
                                    <span class="icon__fallback-text text-hide">Facebook</span>
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://instagram.com" title="Instagram" target="_blank">
                                    <span class="icon__fallback-text text-hide">Instagram</span>
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com/" title="twitter" target="_blank">
                                    <span class="icon__fallback-text text-hide">Twitter</span>
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>

                        </ul>
                    </article>
                </div>
                <div class="row">
                    <article class="map-responsive col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2620.731547474267!2d2.058466215376135!3d48.939554779295534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e68981b5a0e4e9%3A0x56769daed984305b!2s105+Rue+Saint-S%C3%A9bastien%2C+78300+Poissy!5e0!3m2!1sfr!2sfr!4v1528057943426" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </article>
                </div>
            </div>
        </section>

        <footer class="container-fluid">
            <div class="container">
                <p class="copy">-COPYRIGHT &copy; 2018 - FAINKE MAKAN</p>
            </div>
        </footer>
        <!-- js   -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!--<span class="text-muted">Mon footer personnalisé</span>-->
    </div>
</footer>