{% extends 'base.html.twig' %}
{% block body %}
<section class="gris container-fluid">
    <div class="container ">

        <article class="service col-12 col-sm-12	col-md-12 col-lg-12 col-xl-12">
            <h4 class="titre">Le tissu Bazin</h4>
            <p>Depuis environ deux décennies, le bazin est devenu un véritable phénomène de mode et social au Mali et en Afrique de
                C'est au Mali que toute la sous-région vient rechercher la précieuse étoffe. Avec sa raideur majestueuse, ses couleurs explosives,
                ses broderies originales et son crissement si caractéristique, le bazin est le tissu des grandes occasions par excellence.
                Le "vrai" damas est devenu un produit de luxe, le damas chinois autorisant le port du boubou en bazin à tous ceux qui ne pouvaient
                pas se l’offrir jusque-là.</p>
            <p>Le bazin est un tissu damassé 100% coton fabriqué en Europe. Le damas est obtenu en tissant les motifs dans la trame à l’aide
                de fils fins de coton de qualité supérieure non blanchi. Le tissu est ensuite trempé dans un bain d'alcali pour le blanchir
                puis plongé dans un autre bain de soude caustique pour redonner aux fibres creuses du coton tout leur gonflant naturel.
                Il est ensuite lissé à haute température et haute pression dans des cylindres souvent enduits de cire, ce qui lui donnera son éclat
                de soie et le craquant très apprécié des élégantes africaines.</p>
        </article>

    </div>
</section>
    <section class="bleu container-fluid">
        <div class="container ">
            <article class="new">
                <h4 class="blog">L'Equipe</h4>
                <p>Lorem ipsum dolor sit amet, <br>consectetur adipisicing elit. Nemo molestiae eius sint nostrum dolore similique. Error officia nesciunt, iure minus suscipit ipsum esse nihil quae illum temporibus, consectetur iusto hic!</p>
            </article>
            <div class="row">
                <figure class="portfolio2 col-12 col-sm-6	col-md-6 col-lg-3 col-xl-3">
                    <img src="{{ asset('images/d1.jpg') }}" alt="" class="figure-img img-fluid rounded">
                    </figure>
                <figure class="portfolio2 col-12 col-sm-6	col-md-6 col-lg-3 col-xl-3"><figcaption>Lorem ipsum</figcaption></figure>
                <figure class="portfolio2 col-12 col-sm-6	col-md-6 col-lg-3 col-xl-3"><figcaption>Lorem ipsum</figcaption></figure>
                <figure class="portfolio2 col-12 col-sm-6	col-md-6 col-lg-3 col-xl-3"><figcaption>Lorem ipsum</figcaption></figure>
            </div>
        </div>
{% endblock %}